www.42league.fr {
    redir https://42league.fr{uri} permanent
}

42league.fr {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:3000
    }
    handle {
        reverse_proxy frontend:80
    }
}